@inject IStringLocalizer<AppResources> Localizer

<strong>@Localizer["ChangeLanguage"]</strong>
<select class="form-control" @bind="SelectedCulture" style="width:300px; margin-left:10px;">
    @foreach (var culture in _cultures)
    {
        <option value="@culture">@culture.DisplayName</option>
    }
</select>